
@import "tailwindcss";

:root{
  --prim: #E6CE00;
  --black: #000;
  --white: #fff;
  --font-exo: "Exo", sans-serif;
  

  --transition-regular: 0.3s;
  --transition-slow: 0.6s;
}

@theme{
  --color-prim: #E6CE00;
}

.Exo{
  font-family: var(--font-exo);
}

.Luxur{
  font-family: var(--font-luxurious);
}

body {
  overflow-x: hidden !important;
}


/* NavBar */

.nav-menu {
  position: relative;
}

.nav-menu:not(.active-link):after{
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--black);
  transition: var(--transition-regular);
  opacity: 0;
}

.nav-menu:not(.active-link):before{
  content: '';
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--black);
  transition: var(--transition-regular);
  opacity: 0;
}

.nav-menu:not(.active-link):hover:after{
  top: 0;
  opacity: 1;
}

.nav-menu:not(.active-link):hover:before{
  bottom: 0;
  opacity: 1;
}

/* Hero Header  */

.hero {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
}

.btn{
  padding: 10px 30px;
  cursor: pointer;
  transform: skew(-20deg);
  border-radius: 5px;
  transition: var(--transition-regular);
}

.btn span {
  display: inline-block;
  transform: skew(20deg);
}

.btn:hover{
  border-color: rgb(177, 177, 177);
  box-shadow: 0 0 5px rgba(0, 0, 00, 0.411);
}

.hero-slide-wrapper {
  width: 100%;
  transform: skew(-10deg) !important;
  border-left: 1px solid transparent;
  border-radius: 10px;
  overflow: hidden;
}

.hero-swiper{
  width: 100%;
}

.hero-slide{
  background-image: url(../public/Hero-Slide1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 90vh;
}

.hero-slide2{
  background-image: url(../public/Hero-Slide2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 90vh;
}

.hero-slide3{
  background-image: url(../public/Hero-Slide3.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 90vh;
}
.hero-slide-info h2,
.hero-slide-info button {
  overflow: hidden;
  white-space: nowrap;
}

.swiper-slide-active .hero-slide-info h2 {
  animation: Anim-width 0.8s ease forwards;
}

.swiper-slide-active .hero-slide-info button {
  animation: Anim-width 0.8s ease forwards;
}

@keyframes Anim-width {
  from{
    transform: translateX(200%);
  }
  to{
    transform: translateX(0%);
  }
}

@media (max-width: 1000px) {
  .hero{
    height: 100%;
  }
  .hero-slide-wrapper{
    transform: skew(0deg) !important;
  }
}

@media (max-width: 600px) {
  .hero-slide,
  .hero-slide2,
  .hero-slide3 {
    height: 70vh;
  }
}

/* Discover Section  */

.def-btn {
  position: relative;
}

.def-btn::after{
  content: '';
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  height: 2px;
  background-color: var(--black);
  transition: var(--transition-regular);
  opacity: 0;
}
.def-btn::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 0%;
  width: 100%;
  height: 2px;
  background-color: var(--black);
  transition: var(--transition-regular);
  opacity: 0;
}

.def-btn:hover::after {
  top: 0;
  opacity: 1;
}

.def-btn:hover::before {
  bottom: 0;
  opacity: 1;
}


/* Banner */
.banner {
  width: 100%;
  height: 50vh;
  background-image: url(../public/Banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

/* Banner MQ Section */

@media (max-width: 600px) {
  .banner-content {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .banner-btn {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}


/* Sneakers Product Section */

.product-options .product-option1,
.product-options .product-option2,
.product-options .product-option3{
  position: absolute;
  bottom: -100%;
  left: 30%;
  transition: var(--transition-regular);
  cursor: pointer;
}

.product-options .product-option2 {
  left: 43%;
  transition-delay: 0.1s;
}

.product-options .product-option3 {
  left: 56%;
  transition-delay: 0.2s;
}

.product-card:hover .product-options .product-option1,
.product-card:hover .product-options .product-option2,
.product-card:hover .product-options .product-option3 {
  bottom: 0;
}

/* Shop Category Banner Section */

.Shop-cate-banner {
  background-color: transparent;
  background-image: linear-gradient(110deg, #ebebeb 57%, #f4f4f4 57%);
}

/* Hot Deal Banner Section */

.HotDealBanner {
  width: 100%;
  height: 70vh;
  background-attachment: fixed;
  background-color: #000;
  background-image: url(../public/hotdeal.png);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 5%;
  position: relative;
  z-index: 1;
}

.HotDealBanner-top {
  width: 100%;
  height: 20px;
  position: absolute;
  top: -2.5%;
  left: 0;
  background-image: url(../public/banner-shape-top.png);
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(180deg);
  z-index: -1;
}

.HotDealBanner-bottom {
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: -2.5%;
  left: 0;
  background-image: url(../public/banner-shape-top.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}